@model KutuphaneYonetim.Models.Book

@{
    ViewData["Title"] = "Kitap Sil";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">

        <div class="card shadow border-danger text-center">
            <div class="card-header bg-danger text-white">
                Kitap Silme Onayı
            </div>

            <div class="card-body">
                <h5>@Model.Title</h5>
                <p class="text-muted">
                    Yazar: @Model.Author <br />
                    Yıl: @Model.PublishYear
                </p>

                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />

                    <button type="submit" class="btn btn-danger">
                        Evet, Sil
                    </button>

                    <a asp-action="Index" class="btn btn-secondary">
                        Vazgeç
                    </a>
                </form>
            </div>
        </div>

    </div>
</div>
